@model App.ViewModels.DetailRaceViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.HeaderTitle</h2>

<div>
    <div>
        <strong>Nom: </strong>@Model.Race.Name
        <br>
        <strong>Date: </strong>@Model.Race.EventDate.ToShortDateString()
        <br>
        <strong>Heure: </strong>@Model.Race.EventDate.ToShortTimeString()
        <br>
        <strong>Nombre Participant: </strong>@Model.Race.Places
        <br>
        <strong>Age Requis: </strong>@Model.Race.Age
        <br>
        <div id="googleMap" style="width:80%;height:500px;"></div>


    </div>
</div>


<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(parseFloat(@Model.Race.Latitude),parseFloat(@Model.Race.Longitude)),
  zoom:7,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
console.log(@Model.Race.Latitude)
const marker = new google.maps.Marker({
    position: {lat: parseFloat(@Model.Race.Latitude), lng: parseFloat(@Model.Race.Longitude)},
    map: map,
  });

}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqFknns9GQiHOdiEdHDPkbldY-hWVjm5U&callback=myMap"></script>