@model App.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
@if (Model.RaceList.Count() > 0)
{


    <div class="text-center">
        <h4 class="mb-3">Prochaine Course:  <span class="w-40" id="compte"></span></h4>
        @foreach (var item in Model.RaceList) {
            <div class="border border-black mb-2 text-right">
                <h5>Nom: @Html.DisplayFor(modelItem => item.Name)</h5>
                <div>Date: @item.EventDate.ToShortDateString()</div>
                <div>Heure: @item.EventDate.ToShortTimeString()</div>
                <div>Place: @Html.DisplayFor(modelItem => item.Places)</div>
                <div>
                <a asp-controller="Races" asp-action="Details" asp-route-id="@item.Id">See Details</a></div>
            </div>
        }
    </div>
<script>
    var test = new Date(@Model.RaceList.First().EventDate.Year, (@Model.RaceList.First().EventDate.Month-1), @Model.RaceList.First().EventDate.Day, @Model.RaceList.First().EventDate.Hour, @Model.RaceList.First().EventDate.Minute, @Model.RaceList.First().EventDate.Second, 00)
    var deadline = test.getTime();
    var x = setInterval(function() {
    var now = new Date().getTime();
    var t = deadline - now;
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
    var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((t % (1000 * 60)) / 1000);
    document.getElementById("compte").innerHTML = days + "d " 
    + hours + "h " + minutes + "m " + seconds + "s ";
    if (t < 0) {
        clearInterval(x);
        document.getElementById("compte").innerHTML = "EXPIRED";
    }
    }, 1000);
</script>

}
@if (Model.RaceList.Count() <= 0)
{
    <div>"Il n'y a pas de course"</div>
}


